<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Almoços</title>
    
 <link rel="stylesheet" href="static/css/styleConsulta.css">

</head>
<body>

    <!-- Barra de Navegação -->
    <div class="nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo2.png') }}" alt="Logo">
        </div>
        <div class="menu">
            <a href="/">Página Inicial</a>
            <a href="/registros">Listar Registros</a>
            <a href="/downloads">Baixar Registros</a>
        </div>
    </div>

    <!-- Container Principal -->
    <div class="container">
        <img src="{{ url_for('static', filename='agrossLogo.png') }}" alt="Logo">
        <h2>Filtros</h2>

        <!-- Filtros -->
        <div class="filters">
            <form method="GET" action="/registros">
                <input type="text" name="codigo" placeholder="Código" value="{{ codigo }}" />
                <input type="text" name="nome" placeholder="Nome" value="{{ nome }}" />
                <input type="text" name="data" placeholder="Data (YYYY-MM-DD)" value="{{ data }}" />
                <button type="submit">Filtrar</button>
                <button type="reset" onclick="window.location.href='/registros';">Limpar Filtros</button>
            </form>
        </div>
        

        <h2>Registros</h2>

        <!-- Tabela de registros -->
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.codigo }}</td>
                    <td>{{ registro.nome }}</td>
                    <td>{{ registro.data_hora }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('registros.registros', page=1, data=request.args.get('data', ''), nome=request.args.get('nome', ''), codigo=request.args.get('codigo', '')) }}">Primeira</a>
            <a href="{{ url_for('registros.registros', page=page-1, data=request.args.get('data', ''), nome=request.args.get('nome', ''), codigo=request.args.get('codigo', '')) }}">Anterior</a>
        {% else %}
            <a class="disabled">Primeira</a>
            <a class="disabled">Anterior</a>
        {% endif %}
    
        <span>Página {{ page }} de {{ total_pages }}</span>
    
        {% if page < total_pages %}
            <a href="{{ url_for('registros.registros', page=page+1, data=request.args.get('data', ''), nome=request.args.get('nome', ''), codigo=request.args.get('codigo', '')) }}">Próxima</a>
            <a href="{{ url_for('registros.registros', page=total_pages, data=request.args.get('data', ''), nome=request.args.get('nome', ''), codigo=request.args.get('codigo', '')) }}">Última</a>
        {% else %}
            <a class="disabled">Próxima</a>
            <a class="disabled">Última</a>
        {% endif %}
    </div>
    
    


</body>


</html>
