<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Almoço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMain.css') }}">

</head>
<body>

   
    <div class="nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo2.png') }}" alt="Logo">
        </div>
        <div class="menu">
            <a href="/">Página Inicial</a>
            <a href="/registros">Listar Registros</a>
            <a href="/downloads">Baixar Registros</a>
            
        </div>
    </div>

    <div class="container">

        <img src="{{ url_for('static', filename='agrossLogo.png') }}" alt="Logo" class="logo-registro">

        <h2>Registro de Almoço</h2>
        <input type="text" id="codigo" placeholder="Escaneie ou digite o código">
        <button onclick="enviarCodigo()">Registrar</button>
        <p id="mensagem"></p>
    </div>

    <script>
        document.getElementById("codigo").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();  
                enviarCodigo();  
            }
        });

        async function enviarCodigo() {
            const codigo = document.getElementById("codigo").value;
            if (!codigo) {
                document.getElementById("mensagem").innerText = "Erro: insira um código" ;
                return;
            }

            const resposta = await fetch("/registrar", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ codigo: codigo })
            });

            const data = await resposta.json();
            if (resposta.ok) {
                document.getElementById("mensagem").innerText = data.mensagem;
                document.getElementById("codigo").value = "";  
            } else {
                document.getElementById("mensagem").innerText = "Erro: " + data.erro;
                document.getElementById("codigo").value = "";
            }
        }
    </script>

</body>
</html>
